ul {
  margin: 0 0 0 1em;
  padding: 0;
  font-family: "Barlow";
}

.article {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.homepage-link {
  font-family: "Changa";
  font-size: 16pt;
}

p {
  max-width: 540px;
  font-family: "Barlow";
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  letter-spacing: 0.5pt;
}

h1,
h2 {
  font-family: "Changa", sans-serif;
}

header {
  font-family: "Changa", sans-serif;
}
